<style>
html {
	background-color: #C0C0C0;
}
body {
	width:800px;
	margin-left:auto;
	margin-right:auto;
	background-color:#000;
	color:#fff;
}

ul li { list-style-type: none; }

a { color:orange; }
a:visited, a:hover { color:yellow; }

</style>
<html>
<body>
<center><h1>Edit this Article!</h1><center>
	<%= render partial: 'form' %>